@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    will-change: auto;
}

.hovering-cards:hover {
    animation-play-state: paused;
    animation: scroll-cards 100s infinite;
}

.hovering-cards {
    cursor: pointer;
    transform-origin: 15% 200%;
    animation: scroll-cards 100s infinite;
}

@keyframes scroll-cards {
    0% {
        transform: rotateX(-50deg) rotateY(0deg) rotateZ(-30deg) translateX(0%);
    }
    100% {
        transform: rotateX(-50deg) rotateY(0deg) rotateZ(-30deg)
            translateX(-50%);
    }
}
